<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>PNG News</string>
		<key>categoryId</key>
		<string>187</string>
		<key>ad_id_bottom</key>
		<string>1435506394</string>
		<key>ad_id_overlay</key>
		<string>0435490871</string>
		<key>parentId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>ad_id_overlay</key>
		<string>7435474231</string>
		<key>ad_id_bottom</key>
		<string>9435482740</string>
		<key>subCategories</key>
		<array>
			<dict>
				<key>ad_id_overlay</key>
				<string>7435474231</string>
				<key>ad_id_bottom</key>
				<string>9435482740</string>
				<key>title</key>
				<string>Regional News</string>
				<key>categoryId</key>
				<string>183</string>
			</dict>
			<dict>
				<key>ad_id_overlay</key>
				<string>7435474231</string>
				<key>ad_id_bottom</key>
				<string>9435482740</string>
				<key>title</key>
				<string>Southern</string>
				<key>categoryId</key>
				<string>186</string>
			</dict>
			<dict>
				<key>ad_id_overlay</key>
				<string>7435474231</string>
				<key>ad_id_bottom</key>
				<string>9435482740</string>
				<key>title</key>
				<string>Momase</string>
				<key>categoryId</key>
				<string>189</string>
			</dict>
			<dict>
				<key>ad_id_overlay</key>
				<string>7435474231</string>
				<key>ad_id_bottom</key>
				<string>9435482740</string>
				<key>title</key>
				<string>New Guinea Islands</string>
				<key>categoryId</key>
				<string>190</string>
			</dict>
			<dict>
				<key>ad_id_overlay</key>
				<string>7435474231</string>
				<key>ad_id_bottom</key>
				<string>9435482740</string>
				<key>title</key>
				<string>Highlands</string>
				<key>categoryId</key>
				<string>191</string>
			</dict>
		</array>
		<key>title</key>
		<string>Regional News</string>
		<key>categoryId</key>
		<string>183</string>
		<key>parentId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>ad_id_overlay</key>
		<string>7435453253</string>
		<key>ad_id_bottom</key>
		<string>1435467622</string>
		<key>title</key>
		<string>Encompass</string>
		<key>categoryId</key>
		<string>181</string>
		<key>parentId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>ad_id_overlay</key>
		<string>6435437325</string>
		<key>ad_id_bottom</key>
		<string>8435443774</string>
		<key>title</key>
		<string>Business</string>
		<key>categoryId</key>
		<string>185</string>
		<key>parentId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>ad_id_overlay</key>
		<string>1435416787</string>
		<key>ad_id_bottom</key>
		<string>7435426072</string>
		<key>title</key>
		<string>Entertainment</string>
		<key>categoryId</key>
		<string>184</string>
		<key>parentId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>ad_id_overlay</key>
		<string>0435398838</string>
		<key>ad_id_bottom</key>
		<string>6435400682</string>
		<key>title</key>
		<string>Sport</string>
		<key>categoryId</key>
		<string>180</string>
		<key>parentId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>ad_id_overlay</key>
		<string>1435378585</string>
		<key>ad_id_bottom</key>
		<string>3435388225</string>
		<key>title</key>
		<string>World</string>
		<key>categoryId</key>
		<string>182</string>
		<key>parentId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Real Estate</string>
		<key>categoryId</key>
		<string>71</string>
		<key>parentId</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Social</string>
		<key>categoryId</key>
		<string>21</string>
		<key>parentId</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Buy and sell</string>
		<key>categoryId</key>
		<string>101</string>
		<key>parentId</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Jobs</string>
		<key>categoryId</key>
		<string>141</string>
		<key>parentId</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Business for sale</string>
		<key>categoryId</key>
		<string>1</string>
		<key>parentId</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Skills &amp; Services</string>
		<key>categoryId</key>
		<string>221</string>
		<key>parentId</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
